body {
    background-color: aqua;
}

h1 {
    color: darkblue
}

h2 {
    color: blue
}

h3 {
    color: green
}

p {
    color: green
}

li {
    color: green
}

h4 {
    color: green
}

h5 {
    color: green
}

h6 {
    color: green
}